<div>
  <h1>Reporte seu problema.</h1>
  <form >
    <div class="form-group">
      <label>Nome</label>
      <input type="text" name="nome" class="form-control">
    </div>
    <div class="form-group">
      <label>Telefone</label>
      <input type="text" name="nome" class="form-control">
    </div>

    <button class="btb btn-primary">Enviar</button>
  </form>
</div>
