<table class='table-hover table-striped'>
  <thead>
    <th>Nome:</th>
    <th>Telefone:</th>
    <th>Descrição do Problema</th>
    <th>Data:</th>
    <th>Hora:</th>
    <th>Situação:</th>
  </thead>

  <tbody>
    <tr *ngFor="let problem of problems | async">
    <td>{{problem.nome}}</td>
    <td>{{problem.telefone}}</td>
    </tr>
  </tbody>
</table>

